In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from regression_tools.dftransformers import (
    ColumnSelector, Identity, FeatureUnion, MapFeature, Intercept)

In [7]:
ls src

basis_expansions.py    dftransformers.py
categorical_plot.py    regression_helpers.py

In [8]:
data = pd.read_csv('Fraud_Data.csv')

In [9]:
data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0

In [10]:
ip_country = pd.read_csv('IpAddress_to_Country.csv')

In [11]:
ip_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138846 entries, 0 to 138845
Data columns (total 3 columns):
lower_bound_ip_address    138846 non-null float64
upper_bound_ip_address    138846 non-null int64
country                   138846 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ MB

In [12]:
diff = (ip_country['upper_bound_ip_address'] - data['ip_address'][0])
diff[diff > 0].idxmin()

4554

In [13]:
print(ip_country['upper_bound_ip_address'][4554] > data['ip_address'][0])
print(ip_country['lower_bound_ip_address'][4554] < data['ip_address'][0])

True
True

In [14]:
def find_ip_country(ip_address):
    diff = ip_country['upper_bound_ip_address'] - ip_address
    if len(diff[diff > 0]) == 0:
        return ''
    country_idx = diff[diff > 0].idxmin()
    return ip_country.loc[country_idx, 'country']

In [15]:
ip_country.loc[4554, 'country']

'Japan'

In [16]:
len(ip_country.loc[ip_country['upper_bound_ip_address'] > 3758096383, 'upper_bound_ip_address'])

0

In [17]:
data.loc[data['ip_address'] == 3840542443.91396]

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0

In [18]:
max(ip_country['upper_bound_ip_address'])

3758096383

In [ ]:
data['country'] = data['ip_address'].apply(find_ip_country)

In [ ]:
pd.get_dummies()